body, html{
    height: 100%;
}

h1{
    text-align: center;
}

nav{
    background-color: darkblue;
    height: 50px;
    padding-top: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 15px;
    margin-top: 50px;
}

nav a:hover{
    color: grey;
}

#oldal{
    background-color: rgba(255, 255, 255, 0.5);
    /* margin-left: 15px; */
    margin-right: 15px;
}

#oldal p{
    margin-left: 15px;
}

#oldal img{
    border-radius: 80%;
    border: white 10px 10px;
    float: right;
    width: 300px;
    margin-right: 15px;
}

p{
    font-size: 120%;
}

table{
    width: 100%;
}

/*Festékek oldal*/

.kepek-border{
    padding: 5px 5px;
    margin-bottom: 5px;
    /* margin-right: 3px; */
}

.kepek-border img{
    height: 220px;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 10px;
}
.kepek-border-meret{
    margin-right: 1px;
    margin-left: 1px;
}

/*Faanyagok CSS*/
.faanyagok img{
    height: 250px;
    border-radius: 150px;
    margin-bottom: 10px;
}

#bukk{
    height: 250px;
    width: 250px;
    border-radius: 80%;
}

.faanyagok a:hover{
    color: black;
    background-color: rgba(30, 144, 255, 0.7);
}

.faanyagok-box{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.faanyagok-box a{
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px;
}

#faoldal{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    margin-left: 20px;
    height: max-content;
    height: 100%;
}

.faal_vissza{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: rgb(26, 72, 141);
    padding: 5px 5px;
    border-radius: 10px;
}

.faal_vissza:hover{
    background-color: rgb(51, 101, 177);
    color: black;
    font-weight: bolder;
}

/*Szövegek a faanyagoknál*/

.szovegek{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin-top: 10%;
    border: 1px solid black;
    padding-bottom: 20px;
}

/*Szerszámkatalógus oldal*/
.szarszamoldal{
    background-color: rgba(255, 255, 255, 0.5);
}

.szerszamok{
    background-color: rgba(128, 128, 128, 0.8);
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 98%;
}

.szerszamok:hover{
    background-color: rgba(128, 128, 128, 0.6);
}

/*Rólunk oldal*/
.valaszto{
    text-align: center;
}

.valaszto img{
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: black 4px 4px 6px 2px;
}

.valaszto button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(26, 72, 141);
}

.valaszto button:hover{
    background-color: rgb(51, 101, 177);
}
.rp_gb{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(26, 72, 141);
}

.rp_gb:hover{
    background-color: rgb(51, 101, 177);
}

/* .rolunk-box{
    height: 100%;
}

.rolunk-items img{
    height: 400px;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: black 5px 5px 10px 1px;
} */


/*Blog oldal*/
#blog_oldal{
    background-color: rgba(255, 255, 255, 0.5);
    height: max-content;
    padding: 20px 20px;
}

#blog_oldal p{
    text-align: justify;
}

/* #blog_oldal img{
    float: right;
}

#blog_tartalom{
    margin-top: 20%;
}

#vall_kep{
    padding-left: 10px;
    border-radius: 50px;
    animation-name: vall_kep;
    animation-duration: 2s;
}

@keyframes vall_kep{
    0%   {height: 0px;}
    100% {height: 330px;}
} */


/*Telefonos navbar*/
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: darkblue;
    color: white;
  }

@media (max-width: 768px) { 
    nav{
        display: none;
    }

    .topnav{
        display: block;
    }

    .faanyagok a{
        text-align: center;
        display: block;
        width: 30%;
        margin: auto;
    }

    #faoldal{
        height: max-content;
    }

    #gabor_page{
        text-align: center;
    }

    #sanyi_page{
        text-align: center;
    }

    #valen_page{
        text-align: center;
    }
}

@media (max-width: 992px) {
    .faanyagok a{
        text-align: center;
        display: block;
        width: 30%;
        margin: auto;
    }
}

/*Fel gomb*/

#fel_gomb{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 129, 0.8);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: black 2px 2px 2px;
    border: 1px solid black;
}
  
#fel_gomb:hover{
    color: black;
}