body, html{
    height: 100%;
}

h1{
    text-align: center;
}

nav{
    background-color: darkblue;
    height: 50px;
    padding-top: 15px;
}

nav a{
    text-decoration: none;
    color: grey;
    text-align: left;
    margin-left: 15px;
    margin-top: 50px;
}

nav a:hover{
    color: white;
}

#oldal{
    background-color: rgba(255, 255, 255, 0.5);
    /* margin-left: 15px; */
    margin-right: 15px;
}

#oldal p{
    margin-left: 15px;
}

#oldal img{
    border-radius: 80%;
    border: white 10px 10px;
    float: right;
    width: 300px;
    margin-right: 15px;
}

p{
    font-size: 120%;
}

table{
    width: 100%;
}

/*Festékek oldal*/

.kepek-border{
    border: 1px solid black;
    padding: 5px 5px;
    margin-bottom: 5px;
    /* margin-right: 3px; */
}

.kepek-border img{
    height: 220px;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 10px;
}
.kepek-border-meret{
    margin-right: 1px;
    margin-left: 1px;
}

/*Faanyagok CSS*/
.faanyagok img{
    height: 250px;
    border-radius: 150px;
    margin-bottom: 10px;
}

#bukk{
    height: 250px;
    border-radius: 200px;
}

.faanyagok a:hover{
    color: black;
    background-color: rgba(30, 144, 255, 0.7);
}

.faanyagok-box{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.faanyagok-box a{
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px;
}

#faoldal{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Szövegek a faanyagoknál*/

.szovegek{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Telefonos navbar*/

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: darkblue;
    color: white;
  }

@media (max-width: 768px) { 
    nav{
        display: none;
    }

    .topnav{
        display: block;
    }

    .faanyagok a{
        text-align: center;
        display: block;
        width: 30%;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .faanyagok a{
        text-align: center;
        display: block;
        width: 30%;
        margin: auto;
    }
}