body, html{
    height: 100%;
}

h1{
    text-align: center;
}

nav{
    background-color: darkblue;
    height: 50px;
    padding-top: 15px;
}

nav a{
    text-decoration: none;
    color: grey;
    text-align: left;
    margin-left: 15px;
    margin-top: 50px;
}

nav a:hover{
    color: white;
}

#oldal{
    background-color: rgba(255, 255, 255, 0.5);
    /* margin-left: 15px; */
    margin-right: 15px;
}

#oldal p{
    margin-left: 15px;
}

#oldal img{
    border-radius: 80%;
    border: white 10px 10px;
    float: right;
    width: 300px;
    margin-right: 15px;
}

p{
    font-size: 120%;
}

table{
    width: 100%;
}

/*Festékek oldal*/

.kepek-border{
    border: 1px solid black;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.kepek-border img{
    height: 220px;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 10px;
}
.kepek-border-meret{
    margin-right: 1px;
    margin-left: 1px;
}